<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "姓名", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "电话", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tel, :class => 'number_field' %>
    </div>
  </div>


    <div class="control-group">
    <%= f.label "请选择省市", :class => 'control-label' %>
    <div class="controls">
     <%= f.select :province_id, Province.all.collect {|p| [ p.city, p.id ] }, {prompt: true}%> 
 </div>

</div>

    <div class="control-group">
    <%= f.label "地址", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field',:id=>'add' %>
    </div>
  </div>


  <!-- dsafds -->

  <!--  -->
  <b style="color:red;text-align:center;margin-left:150px;">请填写好详细地址后按获取经纬度按钮</b>
  <div class="control-group">
    <%= f.label "经度", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :lng, :class => 'number_field',:id=>'lng' %>
    </div>
  </div>

   <div id="bbs" class="btn btn-primary"  style="margin-left:420px; position: absolute;margin-top:-20px;">
            获取经纬度
   </div>

  <div class="control-group">
    <%= f.label "纬度", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :lat, :class => 'number_field',:id=>'lat' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "昵称", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nickname, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to I18n.t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
<script type="text/javascript">
      
$("#bbs").click(function(){
 $.get("/customers/searchdata",{address:$("#add").val(),city:$("#customer_province_id").val()},function(data){

     $("#lng").attr("value",data.split(",")[0])
      $("#lat").attr("value",data.split(",")[1])
  });
});

</script>