<%= form_for @province, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :"省份", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :province, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :"城市", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "提交", :class => 'btn btn-primary' %>

    <%= link_to t('.cancel', :default => t("取消")),
                provinces_path, :class => 'btn' %>
  </div>
<% end %>
